{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <p align="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac maximus ante. Integer dolor purus,
                lacinia ac vestibulum vitae, sodales ac justo. Suspendisse potenti. Sed semper,
                felis a varius accumsan, urna ligula posuere lectus, convallis egestas enim urna eget tortor.
                Nam sit amet risus eu nunc commodo congue sit amet at metus.
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                Aliquam erat volutpat. Nunc faucibus lacus augue, lobortis scelerisque arcu imperdiet nec.
                Phasellus suscipit diam id diam molestie, eu efficitur risus dignissim.
                Nam turpis libero, pellentesque at elit sit amet, porttitor vehicula purus.
                Morbi a accumsan nibh, porttitor posuere urna. Vivamus molestie velit sit amet metus tristique,
                vitae iaculis magna volutpat. Donec luctus augue odio, vitae aliquet leo pulvinar id.
                Nulla maximus metus quis massa porttitor, a mollis odio tincidunt.
                Nam pretium massa nulla, ut tincidunt leo lacinia vitae.
            </p>
        </div>
    </div>
</div>

{% endblock %}
