{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login</h1>
            <p class="lead fw-normal text-white-50 mb-0">Login to your account</p>
        </div>
    </div>
</header>
<br/> <br/>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input class="form-control" name="username" placeholder="Enter your Username" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control" name="password" placeholder="Enter your password" type="password">
                </div>
                <br/> <br/>
                <button class="btn btn-secondary" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
<br/> <br/>
{% endblock %}
