{% extends 'base.html' %}
{% block content %}

<div class="container">
    <br/>
    <div class="card mb-3" style="">
        <div class="row g-0">
            <div class="col-md-4">
                <img alt="..." class="img-fluid rounded-start" src="{{ product.image.url }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text justify-content-center">{{ product.description }}</p>
                    {% if product.is_sale %}
                    <div class="d-flex justify-content-center small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        &nbsp; &nbsp; Sale! &nbsp; &nbsp;
                        <div class="bi-star-fill"></div>
                    </div>
                    <!-- Product price-->
                    <s>{{ product.price }}</s>
                    &nbsp;
                    ${{ product.sale_price }}
                    {% else %}
                    ${{ product.price }}
                    {% endif %}
                    <br/><br/>
                    <div class="row justify">
                        <div class="col-md-2">Quantity:</div>
                        <div class="col-md-2">
                            <select class="form-select" id="qty-cart">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <br/> <br/>
                    <a class="btn btn-secondary" href="{% url 'home' %}">Home</a>
                    <button class="btn btn-secondary" id="add-cart" type="button" value="{{ product.id }}">Add To Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '#add-cart', function(e) {
        e.preventDefault();
        var product_id = $(this).val();

        $.ajax({
            type: 'POST',
            url: '{% url 'cart_add' %}',
            data: {
                product_id: product_id,
                product_qty: $('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json) {
                // console.log(json);
                document.getElementById("cart_quantity").textContent = json.qty;
            },
            error: function(xhr, errmsg, err) {
                // Handle error
            }
        });
    });
</script>


<br/><br/><br/><br/><br/>
{% endblock %}
